{% extends "layout/base.html" %}

{% block "title" %}
    Contactos
{% endblock "title" %}
{% block "content" %}
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-lg-8 p-0">
            {% include "contact/partials/search.html" %}
            {% include "contact/partials/by_initial.html" %}
            <div class="mb-3 d-flex justify-content-between">
                <a class="link-light text-decoration-none" href="{% url "contact" %}">Ver Todos</a>
                <a class="link-success text-decoration-none" href="{% url "contact" %}">Añadir</a>
            </div>
            <div class="w-100">
                {% for contact in contacts %}
                    <div class="mx-auto w-100 row p-3 border border-1 mb-3">
                        <p class="col-lg-8">{{ contact.name }}</p>
                        <div class="col-lg-4 d-flex justify-content-end">
                            <a href="{% url 'contact_view' id=contact.id %}" class="btn btn-outline-light mx-2">Ver</a>
                            <a href="{% url 'contact_edit' id=contact.id %}" class="btn btn-outline-warning mx-2">Editar</a>
                            <a href="" class="btn btn-outline-danger mx-2">Borrar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 
{% endblock "content" %}
